.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.text {
  font-family: Inter;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: 121px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 190px;
}

.btn {
  height: 139px;
  width: 637px;
  border-radius: 128px;
  background: #725ac1;
  position: absolute;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 61px;
  color: #ffffff;
  margin-top: 600px;

  &:hover {
    background-color: #ffffff;
    color: blueviolet;
  }
}
