.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.header {
  width: 100%;
  height: 210;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 20px;
  width: 658px;
  height: 202px;
  background: #7b83eb;
  border-radius: 136px;
}

.text {
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.block {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 300px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 402px;
  height: 226px;
  background: #1f1a24;
  box-sizing: border-box;
  border-radius: 36px;
  margin: 30px;

  &:hover {
    border: 2px solid #cac4ce;
    background: #1f1a2480;
  }
}
