.container {
  width: 500px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 400px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 232px;
  width: 952px;
  border-radius: 136px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #242038;
  color: white;
}

.text {
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
}
