.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 232px;
  width: 952px;
  margin-top: 494px;
  border-radius: 136px;
  background: #1f1a24;
  border: 3px solid #cac4ce;
}

.btn {
  height: 48px;
  width: 153px;
  margin-top: 704px;
  border-radius: nullpx;
  background-color: #242038;
}

.text {
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}
